<div class="row g-4 mt-3 mb-5">

  {{ range .Pages }}

  <div class="col 
                  text-center 
                  d-flex 
                  justify-content-center">

    <div class="card h-100" style="width: 18rem;">

      <a href="{{ .RelPermalink }}">
        {{ with .Resources.Get "featured-image.jpg" }}
        {{ $image := .Resize "400x"}}
        <div class="image-zoom-wrapper-top">
          <img src="{{ $image.RelPermalink }}" class="card-img-top zoom-image-top" alt="{{ .Title }}">
        </div>
        {{ else }}
        <p>{{ .Title }}</p>
        {{ end }}
      </a>
      <div class="card-body">
        <a href="{{ .RelPermalink }}">
          <h5 class="card-title ocean-blue">{{ .Title }}</h5>
        </a>
        <p class="card-text catchline">{{ .Params.catchline }}</p>
        <a href="{{ .RelPermalink }}" class="btn ocean-blue">Je veux la voir 😍</a>
      </div>

    </div>
  </div>


  {{ end }}

</div>