{{ with .Resources.Get "featured-image.jpg" }}

{{ $largeImage := .Resize "960x webp q75"}}
{{ $smallImage := .Resize "480x webp q75"}}

<div class="headerImage" small-Image="{{ $smallImage.RelPermalink | relURL }}"
  large-Image="{{ $largeImage.RelPermalink | relURL }}">

  {{ else }}
  <p>{{ .Title }}</p>
  {{ end }}

  <img src="/img/loader.gif" alt="Loading..." class="loader" />

  <div class="
      color-overlay
      d-flex
      flex-column
      justify-content-center
      align-items-center
      align-content-center">

    <h1>{{ .Title }}</h1>
    {{ with .Params.catchline }}
    <h2>{{ . }}</h2>
    {{ end }}

  </div>

</div>